<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - QuanLyThuVien</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/QuanLyThuVien.styles.css" asp-append-version="true" />
	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<script src="https://cdn.tiny.cloud/1/1kaj6jy7cv9zsq2cl6qq4695xqee58s22tqho8u33k3pcdrx/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
	<header class="bg-success text-white text-center py-4">
		<h1>Thư viện Lê Minh Khánh</h1>
	</header>

	<nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">HOME</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">BLOG</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="index">CONTACT</a>
					</li>
				</ul>

				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>

	<div class="container mt-4">
		@RenderBody()
	</div>

	<footer class="border-top footer text-muted">
	</footer>

	<df-messenger intent="WELCOME"
				  chat-title="Quản Lý Thư Viện"
				  agent-id="443e04ef-eead-4464-99d9-37732afebac3"
				  language-code="en">
	</df-messenger>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

	<script>
		$(document).ready(function () {
			var navbar = $('#navbar');
			var sticky = navbar.offset().top;

			$(window).scroll(function () {
				if ($(window).scrollTop() > sticky) {
					navbar.addClass('fixed-top');
				} else {
					navbar.removeClass('fixed-top');
				}
			});
		});
	</script>
</body>
</html>

<style>
	body {
		background-color: #f0f0f0;
		
	}
</style>


